@media(max-width:768px){

    nav .navlist{
        float: none;
        position:absolute;
        z-index: 9;
        left: 0;
        right: 0;
        width: 20rem;
        height: auto;
        top: 70px;
        bottom: 100%;
        flex-direction: column;
        background-color: white;
        overflow: hidden;
        transition: all .5s ease-in-out;
        box-shadow:0px ;
    }
    nav .icon-burger{
        display: block;
    }
    
    nav :checked ~ .navlist{
        bottom: 0;
    }
    
    nav :checked ~ .icon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
    }
    nav :checked ~ .icon-burger .line:nth-child(2){
      opacity: 0;
    }
    nav :checked ~ .icon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    nav .logo{
        position: absolute;
        left: 60%;
    }
    .container1{
      
        display: flex;
        flex-direction: column;
    }
    .div1{
      
        width: 100%;
        padding:5rem 2rem ;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        row-gap: 2rem;
        }
        
    .div2{
        
        width: 100%;
        display: flex;
        justify-content:center;
        }
        .introImg{
            max-width:80%;
            max-height:80%;
            
        }
    
    
    /* CONTAINER SECOND */
    
    .container2{
       
        width: 100%;
        padding: 3rem 1rem;
    margin: 1rem 0rem;
    }
    .div3{
     
        padding:1rem  0.5rem ;
        
    }
    .div3 h1{
        font-size: 2.5rem;
    }
    /* CONTAINER Third */
    .container3{
       
        width: 100%;
        padding: 0rem 1rem;
    margin: 0.5rem 0rem;
    }
    .cards{
       
        padding:0rem 0rem ;
       
        column-gap: 1rem;
    }
    .card1, .card2, .card3{
        
        padding: 0.5rem;
        row-gap: 1rem;
    }
    .cardImages{
    max-width: 40%;
    max-height: 40%;
    }
    .cardHeading{
        font-size: 1.2rem;
    }
    
    
    /* CONTAINER 4 and 5  DESIGN*/
    .container4{
        height: 100%;
        width: 100%;
        padding: 1rem 1rem;
        gap: 0rem;
        background-color: white;
        margin-bottom: 1rem;
    }
    .container5{
        height: 100%;
        width: 100%;
        padding: 1rem 1rem;
        gap: 0rem;
        background-color: white;
        margin-bottom: 1rem;
    }
    .con4div1{
    width: 700px;
    height:350px;
    background-color: #ffb4b4;  
    }
    .con4div1>img{
    position: absolute;
    
    }
    .img1 {
    margin-left: 2px;
        margin-top: 60px;
        width: 150px;
        height: 150px;
    }
    .img2{
        margin-top: 150px;
        margin-left: 50px;
        
        width: 200px;
    height: 150px;
    }
    .img3{
        margin-top: 70px;
        margin-left: 130px;
        
        width: 150px;
    height: 150px;
    }
    .con4div2{
       background-color:white;
        width: 500px;
       height:350px;
        padding:3rem 1rem  ;
        row-gap: 1rem;
    }
    .con4div2 p {
        font-size: 0.8rem;
    }
    .con4div2 h1 {
        font-size: 1.2rem;
    }
    
    /* CONTAINER6  DESIGN*/
    .container6{
    
        padding: 3rem 1rem;
     
        
        }
        .container6 h1{
            font-size: 2.5rem;
        }
        .container6 p{
            font-size: 0.8rem;
        }
    
    /* CONTAINER6  DESIGN*/
    .container7{
       
        width: 100%;
    padding:1rem;
    flex-direction: column;
    
    }
    .con6div1{
        width: 100%;
        padding:1rem;
        display: flex;
    align-items: center;
        justify-content: center;
    }
    .con6Imaage{
        
    max-width: 80%;
    max-height: 80%;
    }
    .con6div2{
       
        width: 100%;
        padding:1rem  1rem ;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        }
        
          .con6div2, p{
              font-size: 16px;
          }
         
          /* CONTAINER7  DESIGN*/
    .container8{
        padding: 3rem 1rem;
       
        row-gap: 1rem;
        
        background-color: rgb(255, 209, 154);
        
        }
        .container8 h1{
            font-size: 2rem;
        }
    
    
    
    
    
    
    
            /* CONTAINER8  DESIGN*/
      /* CONTAINER9  DESIGN*/
    
      .container9{
        width: 100%;
        height: 130vh;
        background-color:white;
        padding: 0rem 1rem;
       display: flex;
       flex-direction:column;
    }
    .con8div1{
        background-color: white;
        width: 100%;
        height: 200px;
        margin-top: 0rem;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        row-gap: 0rem;
    }
    
    
    .con8div2{
        background-color: white;
        display: flex;
        flex-direction: row;
        padding: 1rem 2rem;
        height: 100vh;
        width: 100%;
        position: relative;
      
    }
    .con8div2by1{
    border-radius: 1rem;
    width: 290px;
    height: 65vh;
    margin-top: 3.5rem;
    padding: 0rem 0rem;
    background-color:white;
    display: flex;
    flex-direction: column;
    row-gap: 0rem;
    margin-left: 1rem;
    box-shadow: 0px 0px 5px rgb(208, 204, 204);
    }
    
    
    .con8div2by2{
        box-shadow: 0px 0px 5px rgb(208, 204, 204);
        border-radius: 1rem;
        background-color:white;
        height: 80vh;
        width: 290px;
        position: absolute;
        margin-left: 18rem;
    }
    
    .starterPlan1{
        background-color: gainsboro;
        height: 10vh;
        width: 100%;
        border-radius: 1rem 1rem 0rem 0rem ;
        display: flex;
        padding: 1rem 0rem;
        justify-content: center;
    }
    .starterPlan2{
        background-color:#ffb4b4;
        height: 10vh;
        border-radius: 1rem 1rem 0rem 0rem ;
        display: flex;
        padding: 1rem 0rem;
        justify-content: center;
    }
    .starterPlan h1{
        font-size: 1.5rem;
    }
    .paymentPlan1{
        display: flex;
        padding: 1rem 0rem;
        justify-content: center;
        margin-top: 0rem;
    }
    .paymentPlan{
        display: flex;
        padding: 1rem 0rem;
        justify-content: center;
        margin-top: 0rem;
    }
    .planval {
        font-size: 1.5rem;
    }
    .planMonth{
        font-size: 1rem;
        color: gray;
    }
    
    .con8div2Ul1{
        font-size: 0.8rem;
        padding-left: 1rem;
      
       margin: 0rem 0rem ;
    }
    .con8div2Ul1 ul li{
        font-size: 0.8rem;
        line-height: 2rem;
        border-bottom: 1px solid gainsboro;
       
    }
    
    .con8div2Ul{
        font-size: 0.8rem;
        padding-left: 1rem;
      
       margin: 0rem 0rem ;
    }
    .con8div2Ul ul li{
        font-size: 0.8rem;
        line-height: 2rem;
        border-bottom: 1px solid gainsboro;
       
    }
    .btn-div1{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
       
    }
    
    .btn-div2{
        margin-top: 4.5rem;
        display: flex;
        justify-content: center;
       
    }
    
    
    /* FOOTER  DESIGN*/
    
    
    .footer{
        padding: 4rem 12rem;
        background-color:#081c3c;
        width: 100%;
       height: 100vh;
       
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(1, 1fr);
        
        gap: 1rem;
        column-gap: 1rem;
    
    }
    .f1, .f2, .f3, .f4, .f5{
    
       max-width: 100%;
       max-height: 100%;
       display: flex;
       flex-direction: column;
       gap: 1rem;
       padding: 1rem;
    }
    
    .f1{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    
    
    .ficons{
    max-width: 30%;
    max-height: 30%;
    }
    .flogo{
        max-width: 50%;
        max-height: 50%;  
        color: white;
    }
    
    
    }